[FORMAT]

# Naming style for variables and functions (camelCase)
variable-rgx=[a-z][a-zA-Z0-9]*$
function-rgx=[a-z][a-zA-Z0-9]*$

# Naming style for classes and attributes (CamelCase)
class-rgx=[A-Z][a-zA-Z0-9]*$
attr-rgx=[a-z][a-zA-Z0-9]*$
